{% extends "workload/base.html" %}
{% block ht %}{{ head_title }}{% endblock %}

{% block content %}
<h2>发布新的课时量统计任务</h2>
<form role="form" action="{% url 'workload:public' %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button name="submit" type="submit" class="btn btn-default">发布</button>
</form>
<p><a href="{% url 'workload:index' %}">返回主页</a></p>
<div style="display:none;" id="gr">
    {% for grade in cp %}
    <input type="hidden" value="{{ grade }}">
    {% endfor %}
</div>
<script>
    // 根据权限重新加载年级选项

    // 获取下拉框对象
    var grade_box = document.getElementById("grade");

    // 删除不能发布的选项
    var grs_box = document.getElementById("gr");
    var grs = grs_box.getElementsByTagName("input");
    // alert(grs.length);

    for(var i=0; i<grs.length; i++){
        gr = grs[i];
        grade_box.options.remove(gr.value);
        // alert(gr.value);
    }
</script>
{% endblock %}
