{% extends "base.html" %}
{% block ht %}{{ head_title }}{% endblock %}

{% block table %}
<h2>{{ title }}</h2>
<table class="table table-hover table-bordered">
    <tr>
        <th>月份\年级</th>
        {% for grade in grades %}
        <th>{{ grade.0 }}</th>
        {% endfor %}
    </tr>
    {% for ym in ym_before %}
    <tr>
        <th>{{ ym.0 }}</th>
        {% for grade in grades %}
        <td>
            <a href="{% url 'classclean:export_mt' grade.1 ym.1 %}" class="btn btn-info">
                导出月总结</a>
            <a href="{% url 'classclean:show_mt' grade.1 ym.1 %}" class="btn btn-warning">
                查看月总结</a>
        </td>
        {% endfor %}
    </tr>
    {% endfor %}
    <tr>
        <th>{{ ym_now.0 }}</th>
        {% for grade in grades %}
        <td>
            <a href="{% url 'classclean:export_mt' grade.1 ym_now.1 %}" class="btn btn-info">
                导出月总结</a>
            <a href="{% url 'classclean:show_mt' grade.1 ym_now.1 %}" class="btn btn-warning">
                查看月总结</a>
        </td>
        {% endfor %}
    </tr>
</table>
<p><a href="{% url 'classclean:index' %}">返回主页</a></p>
{% endblock %}
