{% extends "base_no_login.html" %}
{% block ht %}{{ head_title }}{% endblock %}

{% block content %}
<table class="table table-bordered">
    <tr>
        <th>日期</th>
        <td>{{ record.date_added|date:'Y年m月d日' }}</td>
    </tr>
    <tr>
        <th>班级</th>
        <td>{{ record.class_and_grade }}</td>
    </tr>
    <tr>
        <th>烫发、染发人数</th>
        <td>{{ record.hair_n }}</td>
    </tr>
    {% if record.hair_n %}
    <tr><th colspan="2">烫发、染发学生名单</th></tr>
    <tr><td colspan="2">{{ record.hair_record }}</td></tr>
    {% endif %}
    <tr>
        <th>佩戴首饰人数</th>
        <td>{{ record.jewelry_n }}</td>
    </tr>
    {% if record.jewelry_n %}
    <tr><th colspan="2">佩戴首饰学生名单</th></tr>
    <tr><td colspan="2">{{ record.jewelry_record }}</td></tr>
    {% endif %}
</table>
{% endblock %}
