{% extends "exercise_eva/base_no_login.html" %}
{% block ht %}{{ head_title }}{% endblock %}

{% block content %}
<h2>上传{{ dt }}节能检查数据</h2>
<form role="form" action="{% url 'exercise_eva:eco_upload' %}" method="post" style="font-size: 18px;">
    {% csrf_token %}
    {{ form.as_p }}
    <label>节能问题:</label><br>
    {% for desc in descs %}
    <input type="checkbox" name="{{ desc.0 }}" value="{{ desc.0 }}">{{ desc.1 }}<br>
    {% endfor %}
    <p class="tip-color">如无问题请直接点击提交</p>
    <p class="err-color">{{ err }}</p>
    <button name="submit" type="submit" class="btn btn-primary">提交</button>
</form>
{% endblock %}
