{% extends "base.html" %}
{% block ht %}{{ head_title }}{% endblock %}

{% block content %}
<h2>上报{{ task.date_str }}留宿学生</h2>
<form role="form" action="{% url 'long_leave:stay_send_up' task.id 0 %}" method="post">
    {% csrf_token %}
    <p>
        <label>上报班级：</label>
        <select id="gc" name="gc" onchange="load_students()">
            <option value="" selected>--------</option>
            {% for gc_str in gc_options %}
            <option value="{{ gc_str.0 }}">{{ gc_str.1 }}</option>
            {% endfor %}
        </select>
    </p>
    <p id="st_check">
        <label>选择留宿学生：</label>
    </p>
<!--    <p>-->
<!--        <input name="captcha" placeholder="请输入看到的验证码">-->
<!--        <img src="data:image/png;base64,{{ image }}">-->
<!--        <a href="{% url 'long_leave:stay_send_up' task.id 0 %}" style="font-size: 16px">看不清，换一张</a>-->
<!--    </p>-->
    <p class="err-color">{{ err }}</p>
    <button name="submit" type="submit" class="btn btn-primary">提交</button>
</form>
<div style="display:none">
    <p id="st_house">{{ st_house }}</p>
    <p id="gc-selected">{{ gc_selected }}</p>
</div>
<script>
    // 复选框标题
    var check_title = document.createElement("label");
    check_title.innerHTML = "选择留宿学生：";

    // 如果有已选班级，加载好选项
    var gc_selected = document.getElementById("gc-selected").innerHTML;
    if(gc_selected != ""){
        // alert(gc_selected);
        // 班级下拉自动选择
        var gc_box = document.getElementById("gc");
        gc_box.value = gc_selected;

        // 加载学生复选框
        show_checks(gc_selected);
    }

    function show_checks(gc){
        // 根据班级显示学生选项
        // alert(gc);
        // 读取学生字典
        var st_house = document.getElementById("st_house").innerHTML;
        var st_dict = JSON.parse(st_house);

        // 确定学生列表
        var st_list = st_dict[gc];
        // alert(st_list);

        // 先清除已有所有选择框
        var st_check = document.getElementById("st_check");
        st_check.textContent = "";
        st_check.appendChild(check_title);

        // 逐一添加学生选择框
        for(var i = 0; i < st_list.length; i++){
            var st = st_list[i];
            // alert(st[0]);

            // 生成新的选择框
            var check_box = document.createElement("input");
            check_box.type = "checkbox";
            check_box.name = "s".concat(st[1]);
            check_box.id = "s".concat(st[1]);
            check_box.value = st[1];

            // 为选择框添加显示标签
            var check_show = document.createElement("label");
            check_show.style = "font-weight: normal; margin-right: 20px;";
            check_show.for = "s".concat(st[1]);
            check_show.innerHTML = st[0];

            // 每5个换一次行
            if(i % 5 == 0){
                st_check.appendChild(document.createElement("br"));
            }

            // 选择框和显示标签加入页面
            st_check.appendChild(check_box);
            st_check.appendChild(check_show);
        }
    }

    function load_students(){
        // 读取选择的班级并显示学生选项
        var gc_str = document.getElementById("gc").value;
        show_checks(gc_str);
    }
</script>
{% endblock %}
