{% extends "base.html" %}
{% block ht %}{{ head_title }}{% endblock %}

{% block table %}
<h2>{{ title }}</h2>
{% if is_manager %}
<p>
    <a href="{% url 'long_leave:change_done' task.id %}" class="btn btn-warning">{{ btn_name }}</a> -
    <a href="{% url 'long_leave:delete_task' task.id %}" class="btn btn-danger"
       onclick="return confirm('确定删除？')">删除此任务</a>
</p>
{% endif %}
<p>留宿年级：{{ task.grade_include }}</p>
<p><a href="{% url 'long_leave:stay_dorm_main' %}">返回上一页</a></p>
{% endblock %}
