{% extends "artday/base.html" %}
{% block ht %}{{ head_title }}{% endblock %}

{% block table %}
<h2>{{ year }}年服装口令信息</h2>
<table class="table table-hover table-bordered">
    <tr>
        <th>服装序号</th>
        <th>服装名称</th>
        <th>服装联络人</th>
        <th>服装模特</th>
        <th>模特所在班级</th>
        <th>服装口令</th>
        <th>操作</th>
    </tr>
    {% for ob in costumes %}
    <tr>
        <td>{{ ob.num }}</td>
        <td>{{ ob.name }}</td>
        <td>{{ ob.owner }}</td>
        <td>{{ ob.mt }}</td>
        <td>{{ ob.mt_class }}</td>
        <td>{{ ob.sec }}</td>
        <td>
            <a href="{% url 'artday:update_costume_sec' ob.id %}" class="btn btn-warning">更新口令</a> -
            <a href="{% url 'artday:delete_costume' ob.id 'b' %}" class="btn btn-danger">删除</a> -
            <a href="{% url 'artday:set_num' ob.id %}" class="btn btn-info">设置服装编号</a>
        </td>
    </tr>
    {% endfor %}
</table>
<p><a href="{% url 'artday:year_main' year %}">返回上一页</a></p>
{% endblock %}
