{% extends "zzbm/base.html" %}
{% block ht %}{{ head_title }}{% endblock %}

{% block content %}
<h3>核对信息</h3>
<form role="form" action="{% url 'zzbm:get_in' task.id %}" method="post">
    {% csrf_token %}
    <input type="number" placeholder="请输入你的准考证号" name="ex-id" style="margin-bottom:10px;"><br>
    <input type="number" placeholder="请输入你的手机号" name="phone">
    <p class="err-color">{{ err }}</p>
    <button name="submit" type="submit" class="btn btn-primary">查询</button>
</form>
<p><a href="{% url 'zzbm:task_main' task.id %}">返回上一页</a></p>
{% endblock %}
