{% extends "zzbm/base.html" %}
{% block ht %}{{ head_title }}{% endblock %}

{% block content %}
<h2>{{ title }}</h2>
<form role="form" action="{% url 'zzbm:put_name' task.id %}" method="post"
      enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <datalist id="middle_school_list">
        {% for middle_school in middle_school_list %}
        <option value="{{ middle_school }}">{{ middle_school }}</option>
        {% endfor %}
    </datalist>
    <p class="err-color">{{ err }}</p>
    <button name="submit" type="submit" class="btn btn-primary"
            onclick="return confirm('提交后数据不可修改，是否确定提交？')">提交</button>
</form>
<div id="all-full" style="display: none;">{{ all_full_str }}</div>
<p><a href="{% url 'zzbm:task_main' task.id %}">返回</a></p>
<script>
    // 隐藏零星返郑初中学校输入框
    // function hide_desc(){
    //     var desc_input = document.getElementById("desc");
    //     var desc_item = desc_input.parentElement;
    //     var middle_school = document.getElementById("middle_school").value;
    //     if(middle_school != "零星返郑报考"){
    //         desc_item.style.display = "none";
    //     }
    // }

    // 判断是否需要显示初中学校输入框
    function check_desc(){
        // 获取已选择的学校名称
        var middle_school = document.getElementById("middle_school").value;
        // alert(middle_school);

        // 获取初中学校输入框
        var desc_input = document.getElementById("desc");
        var desc_item = desc_input.parentElement;

        if(middle_school == "零星返郑报考"){
            desc_item.style.display = "block";
        }
        else{
            desc_item.style.display = "none";
        }
    }

    // 根据所选科目判断是否应该隐藏一些考试时间选项
    function hide_exam_time(){
        // 获取选择的科目
        var subject = document.getElementById("subject").value;
        // alert("你已选择".concat(subject));

        // 获取场次已满信息对象
        var all_full_str = document.getElementById("all-full").innerHTML;
        var all_full = JSON.parse(all_full_str);
        // alert(all_full[subject]["0"]);

        // 获取场次选择下拉框
        var num8_select = document.getElementById("num8");

        // 调试属性
        // console.log(num8_select.options);
        // alert(num8_select.options[2].attributes.value.value);
        // num8_select.options[0].hidden = true;
        // alert(num8_select.options.selectedIndex);
        // num8_select.options.selectedIndex = -1;
        // num8_select.options[0].disabled = true;
        // num8_select.options[0].innerHTML = num8_select.options[0].innerHTML.concat("(已满)")
        // alert(num8_select.options[0].innerHTML.slice(-4));
        // alert(num8_select.options[1].innerHTML.slice(-4));

        // 判断各场次选项是否需要隐藏
        for(var i = 0; i < num8_select.options.length; i++){
            var option = num8_select.options[i];
            var value = option.attributes.value.value;
            if(all_full[subject][value]){
                option.disabled = true;
                if(option.innerHTML.slice(-4) != "(已满)"){
                    option.innerHTML = option.innerHTML.concat("(已满)");
                }
                num8_select.options.selectedIndex = -1;
            }
            else{
                option.disabled = false;
                if(option.innerHTML.slice(-4) == "(已满)"){
                    option.innerHTML = option.innerHTML.slice(0, -4);
                }
            }
        }
    }

    check_desc();
    hide_exam_time();
</script>
{% endblock %}
