{% extends "base.html" %}
{% block ht %}{{ head_title }}{% endblock %}

{% block table %}
<h2>{{ title }}</h2>
<table class="table table-hover table-bordered">
    <tr>
        <th>所属班级</th>
        <th>宿舍号</th>
        <th>床铺</th>
        <th>日期</th>
        <th>时间类型</th>
        <th>问题类型</th>
        <th>具体情况</th>
    </tr>
    {% for ob in records %}
    <tr>
        <td>{{ ob.class_and_grade }}</td>
        <td>{{ ob.dormitory }}</td>
        <td>{{ ob.bed }}</td>
	    <td>{{ ob.date_group_str }}</td>
        <td>{{ ob.tm }}</td>
        <td>{{ ob.tp }}</td>
        <td>{{ ob.reason }}</td>
    </tr>
    {% empty %}
    <tr><td colspan="6">暂无扣分记录</td></tr>
    {% endfor %}
</table>
<p><a href="{% url 'download_grade_all' grade %}" class="btn btn-info">导出当前页数据</a></p>
<p><a href="{% url 'index' %}">返回首页</a></p>
{% endblock %}
