{% extends "base.html" %}
{% block ht %}{{ head_title }}{% endblock %}

{% block content %}
<h2>常用AI工具集合</h2>
<table class="table table-bordered">
  <tr>
    <th>名称及链接</th>
    <th>特色</th>
  </tr>
  <tr>
    <td><a href="https://metaso.cn" class="btn btn-primary"
           target="_blank" style="width: 120px;">秘塔AI搜索</a></td>
    <td>独立AI搜索引擎</td>
  </tr>
  <tr>
    <td><a href="https://yiyan.baidu.com" class="btn btn-success"
           target="_blank" style="width: 120px;">文心一言</a></td>
    <td>百度AI模型</td>
  </tr>
  <tr>
    <td><a href="https://tongyi.aliyun.com" class="btn btn-info"
           target="_blank" style="width: 120px;">通义千问</a></td>
    <td>Qwen3模型，阿里旗下</td>
  </tr>
  <tr>
    <td><a href="https://yuanbao.tencent.com" class="btn btn-warning"
           target="_blank" style="width: 120px;">腾讯元宝</a></td>
    <td>良好的鹅厂生态，具有AI编程模式，可接deepseek</td>
  </tr>
  <tr>
    <td><a href="https://www.doubao.com/chat" class="btn btn-danger"
           target="_blank" style="width: 120px;">豆包</a></td>
    <td></td>
  </tr>
  <tr>
    <td><a href="https://xinghuo.xfyun.cn" class="btn btn-default"
           target="_blank" style="width: 120px;">讯飞星火</a></td>
    <td>科大讯飞</td>
  </tr>
  <tr>
    <td><a href="https://chatglm.cn" class="btn btn-primary"
           target="_blank" style="width: 120px;">智谱清言</a></td>
    <td>具有数据分析功能</td>
  </tr>
  <tr>
    <td><a href="https://kimi.moonshot.cn" class="btn btn-success"
           target="_blank" style="width: 120px;">KIMI chat</a></td>
    <td>强大的长文本处理能力，多模态</td>
  </tr>
  <tr>
    <td><a href="https://www.deepseek.com" class="btn btn-info"
           target="_blank" style="width: 120px;">深度求索</a></td>
    <td>开源推理模型</td>
  </tr>
  <tr>
    <td><a href="https://www.aigc.cn" class="btn btn-warning"
           target="_blank" style="width: 120px;">AIGC导航平台</a></td>
    <td>超多超全，有清晰分类</td>
  </tr>
  <tr>
    <td><a href="https://github.com" class="btn btn-danger"
           target="_blank" style="width: 120px;">GitHub</a></td>
    <td>不解释</td>
  </tr>
  <tr><td colspan="2">AI辅助制作PPT推荐：Gamma&nbsp;&nbsp;Kimi&nbsp;&nbsp;AiPPT.cn</td></tr>
</table>
{% endblock %}
