<!DOCTYPE html>
<html lang="ch">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/plugins/bootstrap-3.4.1-dist/css/bootstrap.css">
    <script src="/static/plugins/bootstrap-3.4.1-dist/js/bootstrap.js"></script>
    <title>{% block ht %}中招监考信息上报系统{% endblock %}</title>
    <style type="text/css">
        .d1{width: 500px; margin: 0 auto; font-size: 20px;}
        .d2{font-size: 20px; background: #EEEEEE;}
        .d3{font-size: 20px; background: #EEEEEE; width: 2000px;}
        .th{border-top: 200px #199fff solid; border-left: 200px #ff8838 solid;}
        .err-color{color: #FF0000;}
        .tip-color{color: #999999;}
        .mobile{width: 400px; margin: 0 auto; font-size: 20px;}
        .li2{width: 230px; margin-right: 20px; margin-bottom: 20px}
    </style>
</head>
<body>
    <div class="d2">
        {% block table %}{% endblock %}
    </div>
    <div class="d3">
        {% block large %}{% endblock %}
    </div>
    <div class="d1">
        {% block content %}{% endblock %}
    </div>
    <div class="mobile">
        {% block mobile %}{% endblock %}
    </div>
    <div class="d1">
        {% if user.is_authenticated %}
        <p>
            {{ user.username }}已登录-<a href="{% url 'bank_id:set_pwd' %}">修改密码</a>
            -<a href="{% url 'bank_id:logout' %}">退出登录</a>
        </p>
        {% else %}
        <p><a href="{% url 'bank_id:login' %}">管理员登录</a></p>
        {% endif %}
    </div>
</body>
</html>
